.skewed {
    width: 100%;
    height: 100%;
    background: var(--white);
    transform: skewY(25deg);
    transform-origin: top left;
}
.info{
    position: absolute;
    top: 15vh;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
}
.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 30vh;
    padding: 20px;
    transform: skewY(-25deg);
}
.presentation h1{
    margin-bottom: 10px;
}
.presentation ul {
    margin-top: 20px;
}
.presentation p span{
    color: crimson;
}
.lista i{
    color: aqua;
}
.lista span{
    color: rgb(52, 252, 52);
}
.lista b{
    color: rgb(250, 67, 250);
}